* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    font-size: 16px;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: FredokaOne;
    src: url(../fonts/FredokaOne-Regular.ttf) format("truetype");
}

body {
    background-color: #eff1f7;
    font-family: FredokaOne;
    letter-spacing: 1px;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
}

.container__title {
    font-size: 2rem;
    background: #fff;
    text-align: center;
    mix-blend-mode: multiply;
    position: relative;
}

.container__title:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 255, 229), rgb(136, 255, 0), #d01717, #d94bd2);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

.container__main {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.main__image {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    max-width: 30rem;
    height: 23rem;
}

.image__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 0.5rem;
    border: 1px solid #e5e5e5;
}

.main__action {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
}

.action__btn {
    width: 10rem;
    height: 4rem;
    padding: 1rem;
    background-color: #fbfbfb;
    border-radius: 0.5rem;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 1px 2px rgb(150, 148, 148);
    font-family: FredokaOne;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: rgb(38, 37, 36);
    transition: all 200ms;
}

.action__btn:hover {
    background-color: #eff1f7;
    border: 2px solid #e5e5e5;
    box-shadow: none;
    cursor: pointer;
}

.action__btn:active {
    color: gray;
}

.action__result_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.action__result_box {
    display: block;
    background-color: #eff1f7;
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid #f6f6f7;
}

.action__result {
    display: block;
    color: rgb(38, 37, 36);
    transition: all 300ms;
}

.action__result:hover {
    color: #347886;
    transform: scale(1.1, 1.1);
}

.action__result:active {
    color: rgb(38, 37, 36);
    transform: scale(1, 1);
}

/** POPUP */
.action__popup {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    padding: 0.6rem 1rem;
    z-index: 2;
    border: 1px solid #f6f6f7;
    border-radius: 5px;
    color: black;
    font-weight: 100;
}
.action__result_container:hover .action__popup {
    display: block;
}

/** boton-modelos hexa, rbg , cmyk*/

.main__conversions {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}
.action__btn_models {
    width: 5rem;
    height: 3rem;
    padding: 1rem;
}

.action__btn_selected {
    width: 5rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: FredokaOne;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: rgb(38, 37, 36);
    background-color: #eff1f7;
    border: 2px solid #e5e5e5;
}

footer {
    text-align: center;
    color: gray;
    font-family: Raleway;
    font-size: 0.8rem;
    margin-bottom: -30px;
}
